* {
	scroll-behavior: smooth;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100dvh;
	width: 100%;
}

video-pixelate {
	position: absolute;
	top: 0;
	left: 30%;
	background-color: beige;
	min-width: 200px;
	min-height: 200px;
}

video {
	visibility: hidden;
	position: absolute;
	inset: 0;
}

#fake-content {
	min-height: 500vh;
}
