@import 'tailwindcss';
@plugin "daisyui"{
	/* themes: all; */
	themes: light pastel, dark dim;
	root: ":root";
	exclude: rootscrollgutter, rootcolor;

}


  


@layer components {
	.btn {
		text-transform: uppercase;
		
	}

	h3 {
		text-transform: uppercase;
		min-height:calc(var(--spacing) * 10);
		margin-bottom: calc(var(--spacing) * 20);
		--tw-font-weight: var(--font-weight-extralight) 
		font-weight: var(--font-weight-extralight) 
		margin-block: calc(var(--spacing) * 12);
		font-size: var(--text-4xl) ;
		line-height: var(
			--tw-leading,
			var(--text-4xl--line-height) 
		);
	}
}

:root {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	font-size: 14px;
}


main {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

}

.grid-stack {
	grid-area: 1/1;
}

